/**
 * Global styles
 */

* {
    padding: 0px;
    margin: 0px;
}

html {
    font-family: {{fontFamily}};
    font-size: {{fontSize}}px;
    font-weight: {{fontWeight}};
    color: {{fontColor}};
    letter-spacing: {{textLetterSpacing}}px;
}

/**
 * Flex styles
 */

.flex {
    display: flex;
}

.flex.row {
    flex-direction: row;
}

.flex.row-reverse {
    flex-direction: row-reverse;
}

.flex.column {
    flex-direction: column;
}

.flex.column-reverse {
    flex-direction: column-reverse;
}

.flex.align-center {
    align-items: center;
    justify-content: center;
}

/**
 * Badge styles
 */

.badge {
    height: {{badgeBarHeight}}px;
    width: {{badgeWidth}}px;
}

/**
 * Bar styles
 */

 .bar {
    height: {{badgeBarHeight}}px;
    width: {{barWidth}}px;

    background-color: {{barBackgroundColor}};

    padding-top: {{barTopPadding}}px;
    padding-right: {{barRightPadding}}px;
    padding-bottom: {{barBottomPadding}}px;
    padding-left: {{barLeftPadding}}px;
 }

/**
 * Shadow styles (badge, bar)
 */

.badge, .bar {
    filter: drop-shadow({{dropShadowOffsetX}}px {{dropShadowOffsetY}}px {{dropShadowBlurRadius}}px {{dropShadowColor}});
}