/**
 * Global styles
 */

* {
    padding: 0px;
    margin: 0px;
}

html {
    font-family: {{fontFamily}};
    font-size: {{fontSize}}px;
    font-weight: {{fontWeight}};
    color: {{fontColor}};
    letter-spacing: {{textLetterSpacing}}px;
}

/**
 * Flex styles
 */

.flex {
    display: flex;
}

.flex.row {
    flex-direction: row;
}

.flex.row-reverse {
    flex-direction: row-reverse;
}

.flex.column {
    flex-direction: column;
}

.flex.column-reverse {
    flex-direction: column-reverse;
}

.flex.align-center {
    align-items: center;
}

/**
 * Badge styles
 */

.badge {
    height: {{badgeHeight}}px;
    width: {{badgeWidth}}px;
}

/**
 * Feed styles
 */

 .feed {
    height: {{feedHeight}}px;
    width: {{feedWidth}}px;

    background-color: {{feedBackgroundColor}};

    padding-top: {{feedTopPadding}}px;
    padding-right: {{feedRightPadding}}px;
    padding-bottom: {{feedBottomPadding}}px;
    padding-left: {{feedLeftPadding}}px;
 }