/**
 * Global styles
 */

* {
    padding: 0px;
    margin: 0px;
}

html {
    font-family: {{fontFamily}};
    font-size: {{fontSize}}px;
    font-weight: {{fontWeight}};
    color: {{fontColor}};
    letter-spacing: {{textLetterSpacing}}px;
}

/**
 * Flex styles
 */

.flex {
    display: flex;
}

.flex.row {
    flex-direction: row;
}

.flex.row-reverse {
    flex-direction: row-reverse;
}

.flex.column {
    flex-direction: column;
}

.flex.column-reverse {
    flex-direction: column-reverse;
}

.flex.align-center {
    align-items: center;
    justify-content: center;
}

/**
 * Container styles
 */

.container {
    /* Center the container relative to the size of the custom widget */

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/**
 * Badge styles
 */

.badge {
    height: {{badgeBarHeight}}px;
    width: {{badgeWidth}}px;
}

.container.flex.column .badge {
    margin-bottom: {{spaceBetweenBadgeAndBar}}px;
}

.container.flex.column-reverse .badge {
    margin-top: {{spaceBetweenBadgeAndBar}}px;
}

.container.flex.row .badge {
    margin-right: {{spaceBetweenBadgeAndBar}}px;
}

.container.flex.row-reverse .badge {
    margin-left: {{spaceBetweenBadgeAndBar}}px;
}

/**
 * Bar styles
 */

.bar {
    display: flex;
    align-items: center;
    justify-content: center;

    height: {{badgeBarHeight}}px;
    width: {{barWidth}}px;

    background-color: {{barBackgroundColor}};

    padding-top: {{barAlertVerticalPadding}}px;
    padding-bottom: {{barAlertVerticalPadding}}px;
    padding-left: {{barAlertHorizontalPadding}}px;
    padding-right: {{barAlertHorizontalPadding}}px;
}

.bar-alert-icon {
    flex: none;

    color: {{accentColor}};
}

.bar-alert-text {
    flex: auto;
    
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    margin-left: {{barTextLeftMargin}}px;
}

/**
 * Badge and bar shared styles
 */

.badge, .bar {
    filter: drop-shadow({{dropShadowOffsetX}}px {{dropShadowOffsetY}}px {{dropShadowBlurRadius}}px {{dropShadowColor}});

    border-radius: {{borderRadius}}px;
}