/**
 * Global styles
 */

html {
    font-family: {{fontFamily}};
    font-size: {{fontSize}}px;
    font-weight: {{fontWeight}};
    letter-spacing: {{textLetterSpacing}}px;
}

.hidden {
    display: none;
}

/**
 * Flex styles
 */

.flex {
    display: flex;
}

.flex.row {
    flex-direction: row;
}

.flex.row-reverse {
    flex-direction: row-reverse;
}

.flex.column {
    flex-direction: column;
}

.flex.column-reverse {
    flex-direction: column-reverse;
}

.flex.align-center {
    align-items: center;
    justify-content: center;
}

/**
 * Container styles
 */

.container {
    /* Center the container relative to the size of the custom widget */

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/**
 * Slide styles
 */

.slide-frame {
    position: relative;
    overflow: hidden;
}

.slide {
    position: absolute;
}

/**
 * Badge styles
 */

.badge {
    background-color: {{badgeBackgroundColor}};
}

.badge, .badge-item, .badge-item > * {
    height: {{badgeBarHeight}}px;
    width: {{badgeWidth}}px;
}

.container.flex.column .badge {
    margin-bottom: 24px;
}

.container.flex.column-reverse .badge {
    margin-top: 24px;
}

.container.flex.row .badge {
    margin-right: 24px;
}

.container.flex.row-reverse .badge {
    margin-left: 24px;
}

/**
 * Bar styles
 */

.bar {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    height: {{badgeBarHeight}}px;
    width: {{barWidth}}px;
    background-color: {{barBackgroundColor}};
}

.bar-item {
    /** Flex box with items vertically centered and aligned to the left */

    display: flex;
    align-items: center;
    justify-content: flex-start;

    background-color: transparent;
    height: {{badgeBarHeight}}px;
    width: {{barWidth}}px;
}

.bar-icon {
    flex: none;
    margin: 0px 20px;
    color: {{accentColor}};
}

.bar-text {
    flex: auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 20px;
    color: {{fontColor}};
}

/**
 * Badge and bar shared styles
 */

.badge, .bar {
    filter: drop-shadow({{dropShadowOffsetX}}px {{dropShadowOffsetY}}px {{dropShadowBlurRadius}}px {{dropShadowColor}});
    border-radius: {{borderRadius}}px;
}

/**
 * Animation styles
 */
 
 .animate__animated.animate__fadeIn {
    --animate-duration: {{fadeInAnimationTime}}s;
  }

  .animate__animated.animate__fadeOut {
    --animate-duration: {{fadeOutAnimationTime}}s;
  }