/**
 * Global styles
 */

html {
    font-family: {{fontFamily}};
    font-size: {{fontSize}}px;
    font-weight: {{fontWeight}};
    letter-spacing: {{textLetterSpacing}}px;
}

.invisible {
    opacity: 0;
}

/**
 * Flex styles
 */

.flex {
    display: flex;
}

.flex.row {
    flex-direction: row;
}

.flex.row-reverse {
    flex-direction: row-reverse;
}

.flex.column {
    flex-direction: column;
}

.flex.column-reverse {
    flex-direction: column-reverse;
}

.flex.align-center {
    align-items: center;
    justify-content: center;
}

/**
 * Container styles
 */

.container {
    /* Center the container relative to the size of the custom widget */

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/**
 * Slide styles
 */

.slide-frame {
    position: relative;
    overflow: hidden;
}

.slide {
    position: absolute;
    transition: opacity {{fadeAnimationTime}}s linear;
}

/**
 * Badge & Bar styles
 */

.badge, .bar {
    filter: drop-shadow({{dropShadowOffsetX}}px {{dropShadowOffsetY}}px {{dropShadowBlurRadius}}px {{dropShadowColor}});
    border-radius: {{borderRadius}}px;
}

.badge, .badge-item, .badge-item > *, .bar, .bar-item {
    height: {{badgeBarHeight}}px;
}

/**
 * Badge styles
 */

.badge {
    background-color: {{badgeBackgroundColor}};
}

.badge, .badge-item, .badge-item > * {
    width: {{badgeWidth}}px;
}

.container.flex.column .badge {
    margin-bottom: 24px;
}

.container.flex.column-reverse .badge {
    margin-top: 24px;
}

.container.flex.row .badge {
    margin-right: 24px;
}

.container.flex.row-reverse .badge {
    margin-left: 24px;
}

/**
 * Bar styles
 */

.bar {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    background-color: {{barBackgroundColor}};
}

.bar, .bar-item {
    width: {{barWidth}}px;
}

.bar-item {
    /** Flex box with items vertically centered and aligned to the left */

    display: flex;
    align-items: center;
    justify-content: flex-start;

    background-color: transparent;
}

.bar-icon {
    flex: none;
    margin: 0px 24px;
    color: {{accentColor}};
}

svg.bar-icon {
    height: 1em;
    width: 1em;
}

svg.bar-icon path {
    fill: {{accentColor}};
}

.bar-text {
    flex: auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 24px;
    color: {{fontColor}};
}