:root {
    --fontFamily: {{fontFamily}};
    --fontColor: {{fontColor}};
    --fontSize: {{fontSize}}px;
    --fontWeight: {{fontWeight}};
    --letterSpacing: {{letterSpacing}}px;

    --borderRadius: {{borderRadius}}px;

    --badgeBarHeight: {{badgeBarHeight}}px;

    --badgeWidth: {{badgeWidth}}px;
    --badgeBackgroundColor: {{badgeBackgroundColor}};

    --barWidth: {{barWidth}}px;
    --barBackgroundColor: {{barBackgroundColor}};

    --accentColor: {{accentColor}};

    --dropShadowOffsetX: {{dropShadowOffsetX}}px;
    --dropShadowOffsetY: {{dropShadowOffsetY}}px;
    --dropShadowBlurRadius: {{dropShadowBlurRadius}}px;
    --dropShadowColor: {{dropShadowColor}};

    --eventFadeTime: {{eventFadeTime}}s;
    --alertSlideTime: {{alertSlideTime}}s;
    --alertFadeTime: {{alertFadeTime}}s;

    --followAlertColor: {{followAlertColor}};
    --subAlertColor: {{subAlertColor}};
    --primeSubAlertColor: {{primeSubAlertColor}};
    --giftedSubAlertColor: {{giftedSubAlertColor}};
    --hostAlertColor: {{hostAlertColor}};
    --raidAlertColor: {{raidAlertColor}};
    --tierOneCheerAlertColor: {{tierOneCheerAlertColor}};
    --tierTwoCheerAlertColor: {{tierTwoCheerAlertColor}};
    --tierThreeCheerAlertColor: {{tierThreeCheerAlertColor}};
    --tierFourCheerAlertColor: {{tierFourCheerAlertColor}};
    --tierFiveCheerAlertColor: {{tierFiveCheerAlertColor}};
}

html {
    font-family: var(--fontFamily);
    font-size: var(--fontSize);
    font-weight: var(--fontWeight);
    letter-spacing: var(--letterSpacing);
}

.flex {
    display: flex;
}

.flex.row {
    flex-direction: row;
}

.flex.row-reverse {
    flex-direction: row-reverse;
}

.flex.column {
    flex-direction: column;
}

.flex.column-reverse {
    flex-direction: column-reverse;
}

.flex.align-center {
    align-items: center;
    justify-content: center;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.slide-frame {
    position: relative;
    overflow: hidden;
}

.bar {
    height: var(--badgeBarHeight);
    width: var(--barWidth);
    
    background-color: var(--barBackgroundColor);

    filter: drop-shadow(var(--dropShadowOffsetX) var(--dropShadowOffsetY) var(--dropShadowBlurRadius) var(--dropShadowColor));
    border-radius: var(--borderRadius);

    > .slide {
        position: absolute;
        height: var(--badgeBarHeight);
        width: var(--barWidth);
        transition: transform var(--alertSlideTime) cubic-bezier(.69,.26,.6,1);

        > .slide-content {
            height: var(--badgeBarHeight);
            width: var(--barWidth);

            display: flex;
            align-items: center;
            justify-content: flex-start;

            background-color: transparent;
            transition: opacity var(--eventFadeTime) linear,
                        background-color var(--alertFadeTime) linear;
            opacity: 1;

            > .slide-icon {
                margin: 0px 24px;
            }

            > i.slide-icon {
                flex: none;
                color: var(--accentColor);
                transition: color var(--alertFadeTime) linear;
            }

            > svg.slide-icon {
                height: 1em;
                width: 1em;

                > path {
                    transition: fill var(--alertFadeTime) linear;
                    fill: var(--accentColor);
                }
            }

            > .slide-text {
                flex: auto;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                margin-right: 24px;
                color: var(--fontColor);
            }
        }

        > .slide-content.hidden {
            opacity: 0;
        }
    }

    .slide.offscreen-top {
        transform: translateY(calc(var(--badgeBarHeight) * -1));
    }
    
    .slide.offscreen-bottom {
        transform: translateY(var(--badgeBarHeight));
    }

    > .slide.follow-alert {
        > .slide-content {
            background-color: var(--followAlertColor);

            > i.slide-icon {
                color: #FFFFFF;
            }
        }
    }

    > .slide.sub-alert {
        > .slide-content {
            background-color: var(--subAlertColor);

            > i.slide-icon {
                color: #FFFFFF;
            }
        }
    }

    > .slide.prime-sub-alert {
        > .slide-content {
            background-color: var(--primeSubAlertColor);

            > svg.slide-icon {
                > path {
                    fill: #FFFFFF;
                }
            }
        }
    }

    > .slide.gifted-sub-alert {
        > .slide-content {
            background-color: var(--giftedSubAlertColor);

            > i.slide-icon {
                color: #FFFFFF;
            }
        }
    }

    > .slide.host-alert {
        > .slide-content {
            background-color: var(--hostAlertColor);

            > i.slide-icon {
                color: #FFFFFF;
            }
        }
    }

    > .slide.raid-alert {
        > .slide-content {
            background-color: var(--raidAlertColor);

            > i.slide-icon {
                color: #FFFFFF;
            }
        }
    }

    > .slide.cheer-alert-tier-1 {
        > .slide-content {
            background-color: var(--tierOneCheerAlertColor);

            > svg.slide-icon {
                > path {
                    fill: #FFFFFF;
                }
            }
        }
    }

    > .slide.cheer-alert-tier-2 {
        > .slide-content {
            background-color: var(--tierTwoCheerAlertColor);

            > svg.slide-icon {
                > path {
                    fill: #FFFFFF;
                }
            }
        }
    }

    > .slide.cheer-alert-tier-3 {
        > .slide-content {
            background-color: var(--tierThreeCheerAlertColor);

            > svg.slide-icon {
                > path {
                    fill: #FFFFFF;
                }
            }
        }
    }

    > .slide.cheer-alert-tier-4 {
        > .slide-content {
            background-color: var(--tierFourCheerAlertColor); 

            > svg.slide-icon {
                > path {
                    fill: #FFFFFF;
                }
            }
        }
    }

    > .slide.cheer-alert-tier-5 {
        > .slide-content {
            background-color: var(--tierFiveCheerAlertColor);

            > svg.slide-icon {
                > path {
                    fill: #FFFFFF;
                }
            }
        }
    }
}