:root {
  --global-accent-color: {{globalAccentColor}};
  --global-font-family: {{globalFontFamily}};
  --global-font-size: {{globalFontSize}}px;
  --global-font-weight: {{globalFontWeight}};
  --global-font-color: {{globalFontColor}};
  --global-font-letter-spacing: {{globalFontLetterSpacing}}px;
  --global-shadow-x-offset: {{globalShadowXOffset}}px;
  --global-shadow-y-offset: {{globalShadowYOffset}}px;
  --global-shadow-blur-radius: {{globalShadowBlurRadius}}px;
  --global-shadow-color: {{globalShadowColor}};

  --feed-alert-enter-time: {{feedAlertEnterTime}}s;
  --feed-alert-fade-time: {{feedAlertFadeTime}}s;
  --feed-event-fade-time: {{feedEventFadeTime}}s;
  --feed-background-color: {{feedBackgroundColor}};
  --feed-border-radius: {{feedBorderRadius}}px;
  --feed-height: {{feedHeight}}px;
  --feed-width: {{feedWidth}}px;

  --follow-alert-color: {{followAlertColor}};
  --sub-alert-color: {{subAlertColor}};
  --prime-sub-alert-color: {{primeSubAlertColor}};
  --gifted-sub-alert-color: {{giftedSubAlertColor}};
  --raid-alert-color: {{raidAlertColor}};
  --tier-one-cheer-alert-color: {{tierOneCheerAlertColor}};
  --tier-two-cheer-alert-color: {{tierTwoCheerAlertColor}};
  --tier-three-cheer-alert-color: {{tierThreeCheerAlertColor}};
  --tier-four-cheer-alert-color: {{tierFourCheerAlertColor}};
  --tier-five-cheer-alert-color: {{tierFiveCheerAlertColor}};
}

html {
  font-size: var(--global-font-size);
  font-family: var(--global-font-family);
  font-weight: var(--global-font-weight);
  letter-spacing: var(--global-font-letter-spacing);
}

.widget {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  align-items: center;
  justify-content: center;
}

.widget.badge-left {
  flex-direction: row;
}

.widget.badge-right {
  flex-direction: row-reverse;
}

.slide-deck {
  position: relative;
  overflow: hidden;

  filter: drop-shadow(
      var(--global-shadow-x-offset) var(--global-shadow-y-offset) var(--global-shadow-blur-radius)
          var(--global-shadow-color)
  );
}

.slide-deck.feed {
  width: var(--feed-width);
  height: var(--feed-height);

  background-color: var(--feed-background-color);
  border-radius: var(--feed-border-radius);
}

.slide {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: transparent;

  display: flex;
  align-items: center;
  justify-content: start;

  opacity: 1;

  transition: transform var(--feed-alert-enter-time) cubic-bezier(0.69, 0.26, 0.6, 1),
      opacity var(--feed-event-fade-time) linear,
      background-color var(--feed-alert-fade-time) linear;
}

.slide.hidden {
  opacity: 0;
}

.slide-text {
  color: var(--global-font-color);
  margin: 0px 24px 0px 0px;

  flex: auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.slide-icon {
  height: 1em;
  width: 1em;
  margin: 0px 24px;
}

i.slide-icon {
  color: var(--global-accent-color);
}

svg.slide-icon > path {
  fill: var(--global-accent-color);
}

i.slide-icon {
  transition: color var(--feed-alert-fade-time) linear;
}

svg.slide-icon > path {
  transition: fill var(--feed-alert-fade-time) linear;
}

.slide.offscreen-top {
  transform: translateY(calc(var(--feed-height) * -1));
}

.slide.offscreen-bottom {
  transform: translateY(var(--feed-height));
}

.slide.follow-alert {
  background-color: var(--follow-alert-color);
}

.slide.sub-alert {
  background-color: var(--sub-alert-color);
}

.slide.prime-sub-alert {
  background-color: var(--prime-sub-alert-color);
}

.slide.gifted-sub-alert {
  background-color: var(--gifted-sub-alert-color);
}

.slide.raid-alert {
  background-color: var(--raid-alert-color);
}

.slide.tier-one-cheer-alert {
  background-color: var(--tier-one-cheer-alert-color);
}

.slide.tier-two-cheer-alert {
  background-color: var(--tier-two-cheer-alert-color);
}

.slide.tier-three-cheer-alert {
  background-color: var(--tier-three-cheer-alert-color);
}

.slide.tier-four-cheer-alert {
  background-color: var(--tier-four-cheer-alert-color);
}

.slide.tier-five-cheer-alert {
  background-color: var(--tier-five-cheer-alert-color);
}

.slide.follow-alert > i.slide-icon,
.slide.sub-alert > i.slide-icon,
.slide.gifted-sub-alert > i.slide-icon,
.slide.raid-alert > i.slide-icon {
  color: var(--global-font-color);
}

.slide.tier-one-cheer-alert > svg.slide-icon > path,
.slide.tier-two-cheer-alert > svg.slide-icon > path,
.slide.tier-three-cheer-alert > svg.slide-icon > path,
.slide.tier-four-cheer-alert > svg.slide-icon > path,
.slide.tier-five-cheer-alert > svg.slide-icon > path,
.slide.prime-sub-alert > svg.slide-icon > path {
  fill: var(--global-font-color);
}
